<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>破狼 - 博客</title>
    <!-- <link href="//cdn.bootcss.com/normalize/3.0.3/normalize.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="../style/all.css" />
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="http://www.greengerong.com/">
                <img src="../style/images/logo/wolf.png" alt="破狼 - 博客">
            </a>
        </div>
    </header>
    <section class="time-line-header"></section>
    <section class="blog-posts">
        <article class="article">
            <div class="post-content">
                <div class="post-body clear">
                    <div class="post-image" data-carousel-3d>
                        <img src="http://2.bp.blogspot.com/-o0Hw69LQ_hs/VPn_XNTyGYI/AAAAAAAAEPs/DKFo9nzs7Os/s1600/bigstock-Winter-owls-39024151.jpg">
                        <img src="http://2.bp.blogspot.com/-o0Hw69LQ_hs/VPn_XNTyGYI/AAAAAAAAEPs/DKFo9nzs7Os/s1600/bigstock-Winter-owls-39024151.jpg">
                        <img src="http://2.bp.blogspot.com/-o0Hw69LQ_hs/VPn_XNTyGYI/AAAAAAAAEPs/DKFo9nzs7Os/s1600/bigstock-Winter-owls-39024151.jpg">
                    </div>
                    <div class="entry-wrap">
                        <h2 class="entry-header"><a href="http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html">Papilion Minter Savior</a></h2>
                        <div class="post_meta"><span class="user"><span>Rina Chaudhary</span></span><span class="sep">•</span><span class="time">Wednesday, March 04, 2015</span></div>
                        <p class="entry-summary clearfix"> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p><a class="button normal" rel="bookmark" href="http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html">Continue Reading →</a></div>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="post-content">
                <div class="post-body clear">
                    <div class="post-image" data-carousel-3d>
                        <img src="http://1.bp.blogspot.com/-r4Mth0TL6rs/VPsukG9jrPI/AAAAAAAAEQY/Hj2lfDsR6PU/s1600/bigstock-Background-with-winter-tree-in-51515404.jpg">
                        <img src="http://1.bp.blogspot.com/-qeUMOJt9IEs/VPoXqvy4ojI/AAAAAAAAEQE/vd9mloswH8s/s1600/hipster.jpg">
                    </div>
                    <div class="entry-wrap">
                        <h2 class="entry-header"><a href="http://timeline-themexpose.blogspot.in/2015/03/draught-vaein-mynel.html">Draught Vaein Mynel</a></h2>
                        <div class="post_meta"><span class="user"><span>Rina Chaudhary</span></span><span class="sep">•</span><span class="time">Wednesday, March 04, 2015</span></div>
                        <p class="entry-summary clearfix"> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p><a class="button normal" rel="bookmark" href="http://timeline-themexpose.blogspot.in/2015/03/draught-vaein-mynel.html">Continue Reading →</a></div>
                </div>
            </div>
            </div>
        </article>
        <article class="article">
            <div class="post-content">
                <div class="post-body clear">
                    <div class="post-image" data-carousel-3d>
                        <img src="http://2.bp.blogspot.com/-o0Hw69LQ_hs/VPn_XNTyGYI/AAAAAAAAEPs/DKFo9nzs7Os/s1600/bigstock-Winter-owls-39024151.jpg">
                        <img src="http://2.bp.blogspot.com/-o0Hw69LQ_hs/VPn_XNTyGYI/AAAAAAAAEPs/DKFo9nzs7Os/s1600/bigstock-Winter-owls-39024151.jpg">
                        <img src="http://2.bp.blogspot.com/-o0Hw69LQ_hs/VPn_XNTyGYI/AAAAAAAAEPs/DKFo9nzs7Os/s1600/bigstock-Winter-owls-39024151.jpg">
                    </div>
                    <div class="entry-wrap">
                        <h2 class="entry-header"><a href="http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html">Papilion Minter Savior</a></h2>
                        <div class="post_meta"><span class="user"><span>Rina Chaudhary</span></span><span class="sep">•</span><span class="time">Wednesday, March 04, 2015</span></div>
                        <p class="entry-summary clearfix"> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p><a class="button normal" rel="bookmark" href="http://timeline-themexpose.blogspot.in/2015/03/papilion-minter-savior.html">Continue Reading →</a></div>
                </div>
            </div>
        </article>
        <article class="article">
            <div class="post-content">
                <div class="post-body clear">
                    <div class="post-image" data-carousel-3d>
                        <img src="http://1.bp.blogspot.com/-r4Mth0TL6rs/VPsukG9jrPI/AAAAAAAAEQY/Hj2lfDsR6PU/s1600/bigstock-Background-with-winter-tree-in-51515404.jpg">
                        <img src="http://1.bp.blogspot.com/-qeUMOJt9IEs/VPoXqvy4ojI/AAAAAAAAEQE/vd9mloswH8s/s1600/hipster.jpg">
                    </div>
                    <div class="entry-wrap">
                        <h2 class="entry-header"><a href="http://timeline-themexpose.blogspot.in/2015/03/draught-vaein-mynel.html">Draught Vaein Mynel</a></h2>
                        <div class="post_meta"><span class="user"><span>Rina Chaudhary</span></span><span class="sep">•</span><span class="time">Wednesday, March 04, 2015</span></div>
                        <p class="entry-summary clearfix"> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla</p><a class="button normal" rel="bookmark" href="http://timeline-themexpose.blogspot.in/2015/03/draught-vaein-mynel.html">Continue Reading →</a></div>
                </div>
            </div>
            </div>
        </article>
    </section>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
    if (!window.jQuery) {
        document.write('<script type="text/javascript" src="../lib/jquery.min.js"><\/script>');
    }
    </script>
    <script src="../lib/jquery.resize.js"></script>
    <script src="../lib/jquery.waitforimages.js"></script>
    <script src="../lib/modernizr.js"></script>
    <script src="../lib/jquery.carousel-3d.js"></script>
    <!-- <script type="text/javascript" src="../lib/jquery.jcarousel.min.js">
    </script> -->
    <script type="text/javascript" src="../scripts/all.js">
    </script>
    <script type="text/javascript">
    $(function() {
        // bootstrap();
    })
    </script>
</body>

</html>
